html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f0f0;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.description {
  margin: 1rem 0;
  color: #555;
  justify-content: center;
  align-items: center;
}

.count {
  font-weight: bold;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
  color: rgb(121, 96, 96);
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
